DS 256 Data Science Programming, Fall 2024
Prof Eatai Roth

Class 1.1

This class we'll be introducing new data types: lists and tuples.
You can read more about lists and tuples in [WTOP Ch 6](https://jakevdp.github.io/WhirlwindTourOfPython/06-built-in-data-structures.html).

### ASIDE: downloading the textbook

You can download (NOT clone) the entire textbook as interactive notebooks.

### ASIDE: how to export class notes to PDF

If you'd like to keep a copy of class notes as PDF, you can export Jupyter notebooks using 

File > Save and Export Notebook as... > PDF

If you get an error that you are missing XeLaTeX, you can install XeLatex on your machine with either:
 - [MikTeX for Windows, MacOs, Linux](https://miktex.org/download)

If you are using MacOS, open terminal and type.

```export PATH=/Library/TeX/texbin:$PATH```

Then quite Jupyter Lab (File > Shut Down) and relaunch.

You may also need to [install pandoc](https://pandoc.org/installing.html).

## Lists

A *list* is an ordered grouping of data.

Lists in Python are enclosed in brackets with items separated by commas. Lists can contain any object type and types don't need to be consistent within the list.

In [4]:
A = [1,2,'hello',3.5, False]

In [10]:
#return the list
A

[1, 2, 'hello', 3.5, False, 'celery']

In [13]:
B = ['one','two', 'three']

### Adding to lists

You can add an item to the end of a list with ```.append(item)```

You can concatenate two lists with +.

In [6]:
#adding to lists
A.append('celery')

In [17]:
#add one list to the end of another
A+B

[1, 2, 'hello', 3.5, False, 'celery', 'one', 'two', 'three']

In [26]:
#add a list to another as one entry
A.append(B)

In [28]:
A

[1,
 2,
 'hello',
 3.5,
 False,
 'celery',
 ['one', 'two', 'three'],
 ['one', 'two', 'three'],
 ['one', 'two', 'three']]

### Length of lists

You can get the length of a list with the function ```len(list)```

In [34]:
#example
len(B)

3

### Indexing of lists

The locations in a list are indexed by number, starting at 0. That is, a list starts with a zero-th entry.

Alternatively, you can index lists from the end backwards starting with -1 (the last item in a list).

You extract a value from a list using brackets. For example, ```myList[5]``` would return the 6th entry of the list.

And you can use indexing to assign new values to items in the list.

In [40]:
A = [4, 14, 9.4, True, 'panda', 'bear']

In [43]:
A[5]

'bear'

In [45]:
A[-2]

'panda'

In [47]:
A[3] = False

In [49]:
A

[4, 14, 9.4, False, 'panda', 'bear']

### Slicing lists

A slice is an extraction of a sub-list from a list.

You slice a list as:

```
myList[startIdx:stopIdx:stepSize]
```
Notes:

 - the list will go up to but not include the stopIdx.
 - any of the parameters can be skipped.

Try some of these:
 - myList[0:5:2]
 - myList[0:5]
 - myList[4::]
 - myList[::3]
 - myList[-3:]

In [59]:
#return items up to, but not including, the 5th entry
A[0:5]

[4, 14, 9.4, False, 'panda']

In [55]:
#return every other item in the list
A[0:5:2]

[4, 9.4, 'panda']

In [63]:
#start at the 4th and go to the end of the list
A[4::]

['panda', 'bear']

In [65]:
#goes up to but does not include the 3rd entry
A[:3]

[4, 14, 9.4]

In [67]:
#start at the entry the third from the left, and finish the list
A[-3:]

[False, 'panda', 'bear']

In [69]:
#count backwards
A[::-1]

['bear', 'panda', False, 9.4, 14, 4]

### Finding an element in a list

If a list contains an element, you can find where that element is using ```.index(searchItem)```

In [91]:
A = CConference = ['JH', 'swat', 'McDaniel', 'FandM', 'Gburg']

In [95]:
#confused

NameError: name 'Gburg' is not defined

## Tuples

Tuples are like lists in that they group any number of any kind of items. A tuple is enclosed in parentheses.

```
myTuple = (1,2,'hello')
```
HOWEVER, tuples are immutable. That just means that once they're created, you cannot change them.

In [89]:
myEplute = myTuple = (1,2,'hello')

## Logical operators

If you make a comparison of two values, the result is a Boolean. Some comparisons you might make are:

 - \> - greater than
 - < - less than
 - \>= greater than or equal to
 - == equal to (note the difference between = and ==)
 - != not equal to

You can also combine boolean statements with *logical operators*:

 - ```and``` - A and B is ```True``` only if both are ```True```
 - ```or``` - A or B is ```True``` if at least one of them is ```True```
 - not - not A is the opposite of whatever A is.

In [101]:
ground = 3>4

In [103]:
ground

False

In [105]:
ground==6

False

You can also consider booleans to have values of 0 (for False) or 1 (for True).

Try some arithmatic with True and False.